:root {
    font-family: 'Roboto', sans-serif;
}

main, body, IonContent, IonPage{
    background-color: transparent;
    background:none;
}

body{
    overflow-y: hidden;
    height: 100%;
    width: 100%;   
}